

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #87CEEB;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px; 
    border-radius: 5px; 
}

nav ul li a:hover {
    background-color: white;
}

nav ul li:last-child {
    margin-right: 0; 
}
